@use "./base" as *;
@use "./fonts" as *;

.contacts {
    margin: 9.6rem 0;

    @media (max-width: $screen-md) {
        margin-bottom: 0;
        margin-top: 4rem;
    }

    &__title {
        text-align: center;
    }

    &__container {
        max-width: 106rem;

        @media (max-width: $screen-md) {
            padding: 0;
        }

    }

    &__content {
        display: flex;
        gap: 3.2rem;
        margin-top: 4.8rem;

        @media (max-width: $screen-md) {
            flex-direction: column-reverse;
            margin-top: 2.4rem;
        }
    }

    &__map {
        flex: 1;

        &__iframe {
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 3.2rem;

            @media (max-width: $screen-md) {
                border-radius: 0;
                min-height: 23.2rem;
            }
        }
    }

    &__form-container {
        flex: 0;

        @media (max-width: $screen-md) {
            padding: 0 2rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 42rem;
        padding: 4.8rem 5.6rem;
        background: $color-text;
        border-radius: 3.2rem;

        @media (max-width: $screen-md) {
            padding: 4.2rem 2.4rem;
            min-width: 100%;
        }

        &__title {
            text-align: center;
            font-size: 2.2rem;
            font-family: $font-roboto;
            font-weight: $weight-semibold;
            color: $color-white;

        }

        &__fields {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 1.6rem;
            margin-top: 3.2rem;

            @media (max-width: $screen-md) {
                margin-top: 2.4rem;
            }
        }

        &__input {
            width: 100%;
            padding: 1.6rem 2.4rem;
            border: 1.5px solid $color-text-secondary;
            border-radius: 3.2rem;
            background: $color-text;
            font-size: 1.3rem;
            font-weight: 400;
            color: $color-white;

            &::placeholder {
                color: $color-white;
            }
        }

        &__button {
            margin-top: 1.6rem;
            padding: 1.6rem 3.2rem;
            border: none;
            border-radius: 3.2rem;
            background: $color-primary;
            font-size: 1.6rem;
            font-weight: $weight-semibold;
            color: $color-white;

            &:hover {
                filter: brightness(0.85);
            }
        }

        &__policy {
            max-width: 21.3rem;
            font-size: 1.2rem;
            line-height: 1.8rem;
            text-align: center;
            color: $color-text-secondary;
            margin-top: .8rem;

            &__link {
                text-decoration: underline;

                &:hover {
                    color: $color-white;
                }
            }
        }
    }

}