@use "./base" as *;
@use "./fonts" as *;

.menu {
    display: flex;
}

.menu-item {
    &::after {
        display: block;
        content: attr(data-value);
        font-weight: bold;
        height: 1px;
        color: transparent;
        overflow: hidden;
        visibility: hidden;
    }
}

.menu-link {
    &:hover {
        color: $color-primary;
        font-weight: $weight-bold;
    }
}