@use "./base" as *;

.socials {
    display: flex;
    gap: 3.2rem;
}

.socials-item {
    width: 3.2rem;
    height: auto;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        stroke: $color-primary;
    }
}

.socials-icon {
    max-width: 3.2rem;
    max-height: 3.2rem;
}